/* ===============================
OVERALL PAGE STYLES
================================ */

* {
    font-family: "Quicksand", Arial, sans-serif;
}

body {
    margin: 0;
    background-image: url(assets/spiration-light.png);
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures the background image covers the entire viewport height */
}

main, nav {
    max-width: 1000px;
    margin: 0 auto;
}



/* ===============================
HEADE, NAV, FOOTER STYLES
================================ */

nav {
    display: flex;
}

header, footer {
    background-color: #e5e5e5;
    padding: 24px 0;

}

header {
    border-bottom: solid 5px #cbcbcb;
}

footer {
    color: #666666;
    text-align: center;
    border-top: solid 5px #cbcbcb;
    margin-top: auto;
}

.logo {
    color: #ad102f;
    text-decoration: none;
    font-size: 1;
    font-weight: bold;
    background-color: white;
    padding: 0 10px 2px 10px;
    text-transform: uppercase;
    margin-right: auto; /* Pushes nav links to the right */
}
 
.nav-link {
    text-decoration: none;
    color: #666666;
    font-weight: bold;

    /* Spacing between nav links */
    margin-left: 20px;
    padding: 0 17px 0 34px;

    border-left: solid 2px #cbcbcb; /* creates a divider between links */
    line-height: 1;

}

#nav-first {
    border-left: none; /* Removes the left border from the first nav link */
}