/* ===============================
OVERALL PAGE STYLES
================================ */

* {
    font-family: "Quicksand", Arial, sans-serif;
}

body {
    margin: 0;
    background-image: url(assets/spiration-light.png);
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures the background image covers the entire viewport height */
}

main, nav {
    max-width: 1000px;
    margin: 0 auto;
}


/* ===============================
HEADER, NAV, FOOTER STYLES
================================ */

nav {
    display: flex;
}

header, footer {
    background-color: #e5e5e5;
    padding: 24px 0;

}

header {
    border-bottom: solid 5px #cbcbcb;
}

footer {
    color: #666666;
    text-align: center;
    border-top: solid 5px #cbcbcb;
    margin-top: auto;
}

.logo {
    color: #ad102f;
    text-decoration: none;
    font-size: 1;
    font-weight: bold;
    background-color: white;
    padding: 0 10px 2px 10px;
    text-transform: uppercase;
    margin-right: auto; /* Pushes nav links to the right */
}
 
.nav-link {
    text-decoration: none;
    color: #666666;
    font-weight: bold;

    /* Spacing between nav links */
    margin-left: 20px;
    padding: 0 17px 0 34px;

    border-left: solid 2px #cbcbcb; /* creates a divider between links */
    line-height: 1;

}

#nav-first {
    border-left: none; /* Removes the left border from the first nav link */
}

/* ===============================
ARTICLE STYLES
================================ */

article {
    background-color: #e5e5e5;
    margin: 5% auto;
    padding: 5%;
    width: 60%;
}

article p {
    line-height: 1.5;
    color: #666666;
}

hr {
    border: 0;
    height: 2px;
    background-color: #cbcbcb;
    margin-bottom: 20px;
}

.headshot {
    width: 40%;
    float: left;
    margin: 0 5% 5% 0;
}

.second {
    clear: left;
}


/* ===============================
GENERAL HEADER STYLES
================================ */

h1, h2 {
    color: #ad102f;
    text-transform: uppercase;
}

h1 {
    font-size: 28pt;
    margin: auto;
}